@model TrashCollector.Models.EmployeeLandingPage

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create") ||
    @Html.ActionLink("My Details", "Details", "TrashCollectorEmployees") ||
    @Html.ActionLink("Edit", "Edit", "TrashCollectorEmployees") ||
    @Html.ActionLink("Delete", "Delete", "TrashCollectorEmployees") ||
    @Html.ActionLink("Customers By Day", "CustomersByDayIndex", "TrashCollectorEmployees")
</p>
<table class="table">

    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.TrashCollectorEmployee)
        </th>
        <td>
            @Html.DisplayFor(model => model.TrashCollectorEmployee)
        </td>
        <th></th>
    </tr>

    @foreach (var item in Model.CustomersByZip)
    {
        <tr>
            <th>
                @Html.DisplayNameFor(Model => item.FirstName)
            </th>
            <td>
                @Html.DisplayFor(Model => item.FirstName)
            </td>
            <th>
                @Html.DisplayNameFor(Model => item.LastName)
            </th>
            <td>
                @Html.DisplayFor(Model => item.LastName)
            </td>
            <th>
                @Html.DisplayNameFor(Model => item.ZipCode)
            </th>
            <td>
                @Html.DisplayFor(Model => item.ZipCode)
            </td>
            <th>
                @Html.DisplayNameFor(Model => item.PickupStatus)
            </th>
            <td>
                @Html.DisplayFor(Model => item.PickupStatus)
            </td>
            <th>
                @Html.DisplayNameFor(Model => item.Bill)
            </th>
            <td>
                @Html.DisplayFor(Model => item.Bill)
            </td>

            <td>
                

                @*@Html.ActionLink("Details", "Details", "TrashCollectorCustomers") ||*@
                @Html.ActionLink("Edit", "RouteCustomerEdit", new { id = item.Id }) ||
                @Html.ActionLink("Details", "Details", new { id = item.Id }) ||
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }) ||
            </td>
        </tr>
    }

</table>
