@model TrashCollector.Models.EmployeeLandingPage

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">

    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.TrashCollectorEmployee)
        </th>
        <td>
            @Html.DisplayFor(model => model.TrashCollectorEmployee)
        </td>
        @*<th>
            @Html.DisplayNameFor(model => model.CustomersByZip)
        </th>*@
        @*<td>
            @Html.DisplayFor(model => model.CustomersByZip)
        </td>*@
        <th></th>
    </tr>

    @foreach (var item in Model.CustomersByZip)
    {
        <tr>
            <th>
                @Html.DisplayNameFor(Model => item.FirstName)
            </th>
            <td>
                @Html.DisplayFor(Model => item.FirstName)
            </td>
            <th>
                @Html.DisplayNameFor(Model => item.LastName)
            </th>
            <td>
                @Html.DisplayFor(Model => item.LastName)
            </td>
            <th>
                @Html.DisplayNameFor(Model => item.ZipCode)
            </th>
            <td>
                @Html.DisplayFor(Model => item.ZipCode)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
