@model TrashCollector.Models.TrashCollectorCustomer

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <td>
            @Html.DisplayFor(model => model.FirstName)
        </td>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <td>
            @Html.DisplayFor(model => model.LastName)
        </td>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <td>
            @Html.DisplayFor(model => model.City)
        </td>
        <th>
            @Html.DisplayNameFor(model => model.ZipCode)
        </th>
        <td>
            @Html.DisplayFor(model => model.ZipCode)
        </td>
        <th>
            @Html.DisplayNameFor(model => model.PickupDay)
        </th>
        <td>
            @Html.DisplayFor(model => model.PickupDay)
        </td>
        <th></th>
    

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                @Html.ActionLink("Details", "Details", new { id = Model.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
            </td>

    </tr>

    
 </table>
